body {
    background-color: #f7f3e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
Colour palette:
Copper          #A8763E
Cosmic Latte    #F7F3E3
Cultured        #ECF0F1
Barn Red        #6F1A07
Bistre          #2B2118

Source: https://coolors.co/a8763e-f7f3e3-ecf0f1-6f1a07-2b2118



*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
    border: 3px solid #a8763e;
    border-radius: 24px;
    width: 20%;
}

.headerTitle {
    color: #2b2118;
}

.content {
    margin: 50px;
    width: 80%;
    height: 50em;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu, .sketchpad {
    background-color: #ecf0f1;
    border: 3px solid #a8763e;
    margin: 15px;
}

.sketchpad {
    width: 50%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row-div {
    display: flex;
    flex: 1;
    flex-grow: 1;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.pixel {
    background-color: white;
    border: 1px dotted blue;
    flex: 1;
    height: 100%;
    width: 100%;
}

.menu {
    border-radius: 24px;
    width: 20%;
    height: 40%
}